# Create a database called 'Wine'

# Import modules

In [1]:
import pandas as pd

# Import a table for csv

In [69]:
raw = pd.read_csv("dataset/winemag-data_first150k.csv").drop("Unnamed: 0", axis=1)
print("This dataset has: {} columns {} rows".format(raw.shape[0], raw.shape[1]))

This dataset has: 150930 columns 10 rows

In [70]:
raw.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

# Check for missing values

In [71]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150930 entries, 0 to 150929
Data columns (total 10 columns):
country        150925 non-null object
description    150930 non-null object
designation    105195 non-null object
points         150930 non-null int64
price          137235 non-null float64
province       150925 non-null object
region_1       125870 non-null object
region_2       60953 non-null object
variety        150930 non-null object
winery         150930 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 11.5+ MB

# Check for any duplicate rows in description

In [72]:
descrip_unique_row = len(raw['description'].unique())

In [73]:
wine_duplicates = raw[raw.duplicated('description')]
wine_duplicates.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
300,US,This standout Rocks District wine brings earth...,The Funk Estate,94,60.0,Washington,Walla Walla Valley (WA),Columbia Valley,Syrah,Saviah
305,New Zealand,"Yields were down in 2015, but intensity is up,...",Maté's Vineyard,94,57.0,Kumeu,NaN,NaN,Chardonnay,Kumeu River
420,US,"Though just four years old, this wine seems ad...",NaN,87,36.0,Washington,Columbia Valley (WA),Columbia Valley,Cabernet Sauvignon,Dussek Family Cellars
422,US,Tawny in color and wafting of potpourri and fa...,NaN,87,20.0,New York,Finger Lakes,Finger Lakes,Cabernet Franc,Serenity
423,US,"The aromas on this wine are quite light, conve...",Weinbau,87,32.0,Washington,Wahluke Slope,Columbia Valley,Grenache,Sol Stone

In [74]:
duplicate_example = wine_duplicates['description'].iloc[0]
print(duplicate_example)

This standout Rocks District wine brings earth shaking aromas of black-olive brine, tapenade, green olive, stargazer lilies, orange peel and crushed gravel. The smoked meat, charcuterie and blue-fruit flavors don't hold back, bringing a lovely sense of texture and detail. It's an intense wine that completely demands your attention.

In [75]:
raw[raw['description']== duplicate_example]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
29,US,This standout Rocks District wine brings earth...,The Funk Estate,94,60.0,Washington,Walla Walla Valley (WA),Columbia Valley,Syrah,Saviah
300,US,This standout Rocks District wine brings earth...,The Funk Estate,94,60.0,Washington,Walla Walla Valley (WA),Columbia Valley,Syrah,Saviah

As we can see above, some of the columns are duplicates. Before uploading the data to the database, we want to remove all duplicates.

In [76]:
wine = raw.drop_duplicates(subset='description')
print("This dataset has: {} columns {} rows".format(wine.shape[0], wine.shape[1]))

This dataset has: 97821 columns 10 rows

# Import package for connecting to database

Pip Install
https://www.a2hosting.ca/kb/developer-corner/postgresql/connecting-to-postgresql-using-python

https://stackoverflow.com/questions/33866695/install-psycopg2-on-mac-osx-10-9-5

In terminal:
* pip install psycopg2-binary

# Import Package After Installing

In [1]:
import psycopg2

# Create Connection

In [24]:
database_password = open("password.txt", "r")

In [26]:
con = psycopg2.connect(database="wine", 
                       user="postgres", 
                       password=database_password.read(), 
                       host="localhost", 
                       port="5432")

print("Database opened successfully")

Database opened successfully